/* reset */
html {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}

/* layout */
body {
    min-width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.buffer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.buffer-top {
    margin-top: 20px;
}

/* utilities */
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* input groups */
.input-group--unobtrusive:not(.has-error) * {
    border: none;
}
.input-group--unobtrusive:not(.has-error) .input-group-addon {
    background-color: transparent;
    color: #DDD;
}
.input-group--unobtrusive input:not(:focus) {
    box-shadow: none;
}
.input-group .input-group-addon.glyphicon { /* override bootstrap top:1px */
    top: 0;
}
#tune-name {
    font-size: inherit;
    width: initial;
}

/* validation */
.form-group.required .control-label:after {
  content: " *";
  color: #CA4848;
}
.form-group.has-error input:not(.form-control) { /* apply bootstrap error styling to inputs that aren't form-controls*/
    border: 1px solid #a94442;
}

/* tab */
.tab-content {
    border-left: 1px solid #DDD;    /* border colour matches bootstrap tab */
    border-right: 1px solid #DDD;
    padding: 10px 20px;
}
.tab-content--last {
    border-bottom: 1px solid #DDD;    /* border colour matches bootstrap tab */
}

/* loading */
.loading {
    background-image: url('../assets/img/ajax-loader.gif');
    background-repeat: no-repeat;
}

/* part options */
.part-options {
    background-color: #EEE;
    padding: 5px;
}
.part-options__component {
    padding-left: 10px;
}
input[type="range"].bpm-slider {
    display: inline;
    height: 10px;
    width: 125px;
}
.bpm {
    background-color: #EEE;
    padding-left: 5px;
    width: 50px;
}

/* tab grid */
#tablature {
    display: flex;
}
#string-notes {
    flex-direction: column;
}
.bars, .bar {
    display: flex;
}
.bars {
    flex-wrap: wrap;
}
.bar {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: 10px;
    margin-left: -1px; /*hide double border. It's not possible to use something last :last-child-of-row with flexbox*/
}
.crotchet:not(:last-child) {
    border-right: 1px solid #DDD;
}
.crotchet {
    display: flex;
}
.quaver {
    flex-direction: column;
}
.quaver.play-position {
    border-left: 1px solid #42429A;
    margin-left: -1px;
}
@keyframes play-position-blink {
   50% { border-color: #9191CC; }
}
.quaver.play-position {
    animation: play-position-blink .5s step-end infinite alternate;
}
.string {
    font-size: 10px;
    height: 14px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 12px;
}
.string:not(.string--instrument):not(.fretted):after {
    border-bottom: 1px solid #CA4848;
    content: "";
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.string.selected-range {
    background-color: #DADAF3;
}
.string.copied-top {
    border-top: 1px dashed #CCC;
}
.string.copied-bottom {
    border-bottom: 1px dashed #CCC;
}
.string.copied-left {
    border-left: 1px dashed #CCC;
}
.string.copied-right {
    border-right: 1px dashed #CCC;
}
.string:hover {
    background-color: #F5F5F5;
    border: 1px solid #DADAF3;
    cursor: pointer;
}
.string.selected {
    border: 1px solid #42429A;
}

/* effects */
.effect {
    font-size: 8px;
}

/* mixer */
.mixer {
    display: flex;
    font-size: 9px;
    text-align: center;
}
.channel {
    border: 1px solid #BBB;
    margin-left: -1px;
    width: 50px;
}
.channel .heading {
    border-bottom: 1px solid #BBB;
}
.channel .heading,
.channel .fader {
    padding-bottom: 5px;
    padding-top: 5px;
}
.channel .fader input {
    -webkit-appearance: slider-vertical;
    height: 100px;
}

/* alerts */
#alerts {
    bottom: 0;
    position: fixed;
}